@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
.blue{
	background-color: #0C32FF;
	color: white;
	min-height: 70%;
}
.a{
	padding: 1em 0.5em 1em 1em;
	text-align: center;
	border-bottom: 2px solid white; 

}
.a1{
	padding-right: 35%; /*cahnge to 25%*/
}
.a2{
	padding-right: 10%;
}
.a3{
	padding-left: 15%; 
	padding-right: 1em;
}

.Download{
	background-color: white;
	border-radius: 5px;
	border: none;
	padding: 0.8em 4em 0.8em 4em; 
	/*transition: 0.2s;*/
}
.Download:hover{
	background-color: rgb(255, 208, 0);
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
}
.logo{
	padding: 1em 0em 1em 5%;
}
.title{
	color: rgb(255, 238, 0); 
	font-weight: bold;
	font-size: 2em;
	vertical-align: 130%;
	padding-left: 1em;
}


