@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;

}
.Ee{
/*background-color: rgba(0, 0, 0, 0.596);*/
color: rgb(255, 255, 255);
margin: 10px;
border-left: 5px solid red;
padding-left: 5%; 
}
.heading{
    font-size: 2em;
    font-weight: bold;
}
.tagline{
    color: azure;
}
.Eb{
    background-color: rgb(39, 39, 39);
    margin: 0;
    padding-bottom: 50px;
    padding-left:20px;
    padding-top: 25px;
    padding-right: 45%; 
}
.Ee:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius:10em;
    cursor: cell; 
}
.body{
    background-image: linear-gradient(rgb(134, 134, 134),rgb(65, 65, 65));
    height: 70%;
    
    border-radius: 2em; 
}
.logo{
    float: left;
}
.bbody{
    background-color: rgb(0, 0, 0);
    padding: 1.5em;
}
.EI:hover{
    background-color:rgb(172, 1, 1);
    border-radius:50%;
    border: 5px solid red; 
}
.foot{
    position: fixed;
    bottom: 0px;
    background-color: black;
    text-align: center;
    color: rgb(202, 202, 202);
    width: 100%;
    padding: 1em;   
}

.top-text{
    padding-left: 100px; 
}
ul{
    
    text-align: center;
    margin: 0em;
    background-color: rgba(115, 255, 0, 0.89);
    font-size: 1.2em;
}
li:hover{
    background-color: rgb(255, 115, 0);
    cursor: pointer;
    
}
li{
    display: inline-block;
    margin: 0em;
    padding: 1em;
    padding-left: 5%;
    padding-right: 5%;
    
    
}

.list{
    display: inline;    
}
