@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
.blue{
	background-image: linear-gradient(50deg,#176bfd 0,#000ed4 100%);
	color: white;
	min-height: 80%;
	position: relative;

}
.a{
	padding: 1em 0.5em 25px 1em;
	border-bottom: 2px solid white; 
}
.a1,.a2,.a3{
	padding: 0 1em 0 1em;
}

.a4{
	float: right;
}
.a5{
	margin-right: 1em; 
	background-color: rgba(255, 253, 253, 0.979);
	border-radius: 5px;
	border: none;
	padding: 0.6em 4em 0.6em 4em;
	vertical-align: top;
}
.Download{
	background-color: rgba(255, 253, 253, 0.979);
	border-radius: 5px;
	border: none;
	padding: 0.6em 4em 0.6em 4em;
	vertical-align: top;
	/*transition: 0.2s;*/
}
.Download:hover, .a5:hover{
	background-color: rgb(255, 208, 0);
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
}
.logo{
	padding: 1em 0em 1em 5%;
}
.title{
	color:rgb(255, 255, 255);
	font-weight: 1000;
	font-size: 1.8em;
	vertical-align: 110%;
	text-shadow:2px 2px 2px rgb(148, 148, 148); 
	padding-left: 1em;
}

.nav{
	display: inline;
	list-style-type: none;
	overflow: hidden;
	float: right;
	padding-right: 5em;
	vertical-align: 50%;
	padding-top: 0.1em;
}
li{
	display: block;
	text-decoration: none;
	float: right;
	padding: 2em;
	font-size: 0.9em;
	
}
.head2{
	padding-left: 11.2%;
	padding-top: 5%;	
}
.b1{
	font-size: 3em;
	line-height: 60px;
	word-break: break-all;
}
.b2{
	color: yellow;
	font-size: 1.3em;
}

.b4{
	background-color: rgba(255, 253, 253, 0.979);
	border-radius: 5px;
	border: none;
	padding: 0.6em 4em 0.6em 4em;
	vertical-align: top;
	border: 1px solid white;
	margin-right: 7px; 
	font-size: 1.1em;
	/*transition: 0.2s;*/
}
.b5{
	background-color: rgba(255, 253, 253, 0);
	border-radius: 5px;
	color: white;
	border: 1px solid white;
	padding: 0.6em 4em 0.6em 4em;
	vertical-align: top;
	font-size: 1.1em;
	/*transition: 0.2s;*/
}

.b4:hover{
	background-color: rgba(255, 255, 255, 0);
	color: white;
}
.b5:hover{
	background-color: white;
	color: black;
}

.follow{
	margin-left: 4.5em; 
	font-size: 0.7em;
	background-color: #2E2EFF;
	border: none;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 7px;
}
a{
	text-decoration: none;
	color: white;
}

.picker1{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.picker2{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

input[type="color"]{
	width: 2rem;
	height: 1.5rem;
	background-color: black;
	border: 3px white;
}
.change{
	position: absolute;
	bottom: 10px;
	right: 45%;
	background-color: rgba(255, 253, 253, 0);
	border-radius: 5px;
	color: white;
	border: 1px solid white;
	padding: 5px 10px 5px 10px;
}

.inpt{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.822);
	top: 0;
	/*display: none;*/
	
}
.inpi{
	border: 3px solid rgb(47, 0, 255);
	position: fixed;
	top: 50%;
	right: 50%;
	margin: -105.5px -177.75px 0 0 ;
	background-color: white;
	padding: 2em;
}
.inpb{
	margin: 0.75em;
}